{% extends "adminlite/adminlite_signup_login.html" %}
{% load i18n static %}


{% block content %}

{% if validlink %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}

    <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-group">
        {{ form.new_password1.errors }}
        <label for="{{ form.new_password1.id_for_label }}">{% translate 'New password:' %}</label>
        <input type="password" name="{{ form.new_password1.html_name }}"  id="{{ form.new_password1.id_for_label }}"
               class="form_control"/>
    </div>
    <div class="form-group">
        {{ form.new_password2.errors }}
        <label for="{{ form.new_password2.id_for_label }}">{% translate 'Confirm password:' %}</label>
        <input type="password" name="{{ form.new_password2.html_name }}"  id="{{ form.new_password2.id_for_label }}"
               class="form_control"/>
    </div>
    <input type="submit" class="btn btn-sm btn-primary" value="{% translate 'Change my password' %}">
</fieldset>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
